.cta-wrapper {
    background-color: #f2f2f2;
    padding: 48px 60px;
    margin: 0 auto 60px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    font-family: "Helvetica Neue LT Std", sans-serif;
}

.cta-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.cta-text p {
    color: #000;
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    max-width: 700px;
    line-height: 1.4;
}

.cta-highlight {
    color: #d6001c;
    font-weight: 700;
}

.cta-button button {
    background-color: #d6001c;
    color: #fff;
    padding: 16px 36px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

.cta-button button:hover {
    background-color: #b00019;
}


@media screen and (max-width: 992px) {
    .cta-box {
        flex-direction: column;
        text-align: center;
    }

    .cta-text p {
        font-size: 24px;
    }

    .cta-button button {
        padding: 14px 30px;
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    .cta-wrapper {
        padding: 24px;
        margin: 0 auto 40px;

    }

    .cta-text p {
        font-size: 20px;
    }

    .cta-button button {
        width: 100%;
        max-width: 300px;
    }
}